@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .order-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .order-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.order-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.order-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
form .button{
  height: 45px;
  margin: 20px 0
}
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
transform: scale(0.99);
background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.container form div.the_two{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.the_two .box{
  margin-bottom: 20px;
  width: calc(100% / 2 - 20px);
}
.the_two .box input{
  height: 30px;
  width: 75%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20%;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.the_two .box-button{
  margin-bottom: 20px;
  width: calc(100% / 2 - 20px);
}
.the_two .box-button input{
  height: 30px;
  width: 75%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.myTable {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  font-size: 14px;
  font-family: monospace;
  border-radius: 5px;
  min-width: 200px;
}
.myTable th { 
  background-color:#fff;
  color:black; 
  text-align: center;
  border-radius: 5px;
}
.myTable td, .myTable th { 
  padding:15px;
  border:1px solid #000; 
  border-radius: 5px;
  text-align: center;
}

.myTable .box-button{
  margin-bottom: 20px;
  width: calc(150% - 20px);
}
.myTable .box-button input{
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 12px;
  font-style: oblique;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

@media(max-width: 584px){
.container{
max-width: 100%;
}

form .order-details .input-box{
  margin-bottom: 15px;
  width: 100%;
}
form .category{
  width: 100%;
}
.content form .order-details{
  max-height: 300px;
  overflow-y: scroll;
}
.order-details::-webkit-scrollbar{
  width: 5px;
}
}

@media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}    