{% extends 'base.html' %}

{% block home %}
<div class="container">
    <div class="title">About</div>
    <p>
        Welcome to SupplyChainPro, a powerful Flask CRUD app that enables you to streamline your business processes with ease. Our app provides you with a simple and intuitive interface that allows you to easily create and manage orders and invoices.
        <br><br>
        This web application allows users to place orders and create invoices for their business needs. It offers a simple and intuitive user interface, making it easy for users to navigate through the various features and functionalities.
        <br><br>
        The app provides users with the ability to create and manage orders, view, edit and delete order details, and track order status.
        Users can also create invoices from within the app, which can be customized with their business information and logo. The app generates invoices in PDF format, allowing users to easily share and print their invoices as needed.
    </p>
</div>
{% endblock %}