<!DOCTYPE html> 
<html> 
    <head>
        <title>
            Supply Chain System
        </title>
        <link rel="stylesheet" href="/static/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header>
        <nav class="">
            <ul class=""></ul>
                <li class="nav_item">
                    <a href="/order">Order</a>
                </li>
                <li class="nav_item">
                    <a href="/invoice">Invoice</a>
                </li>
                <li class="nav_item">
                    <a href="/download">Download</a>
                </li>
            </ul>
        </nav>
    </header>

    <br><br>

    <body>
        {% block home %}
        {% endblock %}

        {% block order %}
        {% endblock %}

        {% block invoice %}
        {% endblock %}

        {% block download %}
        {% endblock %}
    </body>
    
</html>
