<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Html CRUD
        </title>
        <link rel="stylesheet" href="/static/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="title">Create Invoice</div>
            
            <form>
                <div class="order-details">
                    <div class="input-box">
                        {% set v = "Invoice Number" %}
                        {% if submitted %}
                            {% set v = form_val[0] %}
                        {% endif %}
                        <span class="details">Invoice Number</span>
                        <input type="text" placeholder="{{ v }}" name="Invoice_No" readonly>
                    </div>

                    {% if form_val|length > 0 %}
                        {% set dt = form_val[-3] %}
                        {% set cid = form_val[-2] %}
                        {% set cn = form_val[-1] %}
                    {% else %}
                        {% set dt = "" %}
                        {% set cid = "" %}
                        {% set cn = "" %}
                    {% endif %}

                    {% if not submitted %}
                        <div class="input-box">
                            <span class="details">Invoice Date</span>
                            <input type="date" name="Invoice_Date" value="{{ dt }}" min="2022-06-01" max="2022-12-31" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Customer ID</span>
                            <input type="text" value="{{ cid }}" name="Cust_Id" placeholder="Customer ID" required pattern="[A-Z0-9]{6}" title="Customer ID must be an alphanumeric value of six characters!" autocomplete="off">
                        </div>
                    {% else %}
                        <div class="input-box">
                            <span class="details">Invoice Date</span>
                            <input type="date" name="Invoice_Date" value="{{ dt }}" min="2022-06-01" max="2022-12-31" readonly required>
                        </div>
                        <div class="input-box">
                            <span class="details">Customer ID</span>
                            <input type="text" value="{{ cid }}" name="Cust_Id" placeholder="Customer ID" readonly required pattern="[A-Z0-9]{6}" title="Customer ID must be an alphanumeric value of six characters!" autocomplete="off">
                        </div>
                    {% endif %}
                    
                    <div class="input-box">
                        <span class="details">Customer Name</span>
                        <input type="text" value="{{ cn }}" placeholder="Customer Name" name="Cust_Name" readonly>
                    </div>
                </div>
                
                {% if not submitted %}
                    <div class="the_two">
                        {% if not eddited %}
                            <div class="box">
                                <input type="text" class="text" placeholder="Order ID" name="Ord_Id" pattern="[0-9]{4}" title="Order ID must be a four-digit number" autocomplete="off">
                            </div>
                            <div class="box">
                                <input type="text" class="text" placeholder="Quantity" name="Invoice_Qty" pattern="[0-9]" title="Quantity must be numeric!" autocomplete="off">
                            </div>
                        {% else %}
                            <div class="box">
                                <input type="text" class="text" value="twos[0]" name="Ord_Id" pattern="[0-9]{4}" title="Order ID must be a four-digit number" required autocomplete="off">
                            </div>
                            <div class="box">
                                <input type="text" class="text" value="twos[1]" name="Invoice_Qty" pattern="[0-9]" title="Quantity must be numeric!" required autocomplete="off">
                            </div>
                        {% endif %}
                        <div class="box-button">
                            <input formaction="/" formmethod="post" type="submit" value="Add">
                        </div>
                    </div>
                {% endif %}

                {% if ord_list|length > 0 %}
                    <table class="myTable">
                        <colgroup span="4"></colgroup>
                        <tr>
                            <th>S.No.</th>
                            <th>Order ID</th>
                            <th>Quantity</th>
                            {% if not submitted %}
                                <th>Modify</th>
                            {% else %}
                                <th>Net Amount</th>
                            {% endif %}
                        </tr>
                        {% for values, no in zip(ord_list, range(ord_list|length)) %}
                            <tr>
                                <td>{{ no+1 }}</td>
                                <td>{{ values[0] }}</td>
                                <td>{{ values[1] }}</td>
                                <td>
                                    {% if not submitted %}
                                        <div class="box-button">
                                            <input formaction="/edit/{{ values }}" formmethod="post" type="submit" value="Edit">
                                            </input><br></br>
                                            <input formaction="/delete/{{ values }}" formmethod="post" type="submit" value="Delete">
                                            </input> 
                                        </div>
                                    {% else %}
                                        {{ Net_Amount }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if submitted %}
                            <tr>
                                <td colspan="3">Total</td>
                                <td colspan="1">{{ Net_Amount }}</td>
                            </tr>
                        {% endif %}
                    </table>
                {% endif %}

                {% if not submitted %}
                    <div class="button">
                        <input formaction="/submit" formmethod="post" type="submit" value="Submit">           
                    </div>
                {% endif %}
            </form>

        </div>
    </body>
</html>
