<!DOCTYPE html> 
<html> 
    <head> 
        <title>
            HTML input pattern attribute
        </title> 
          
        <style> 
            body { 
                text-align:center; 
            } 
            h1 { 
                color:green; 
            } 
        </style> 
    </head> 
      
    <body> 
        <h1>GeeksforGeeks</h1> 
          
        <h2>HTML input pattern attribute</h2> 
          
        <form action="#"> 
            Password: 
            <input type="text" class="text" value="{{ twos[0] }}" name="Ord_Id" pattern="[0-9]{4}" title="Order ID must be a four-digit number" required autocomplete="off">
              
            <input type="submit"> 
        </form> 
    </body> 
</html>